/* Load custom DM Sans variable font */
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-VariableFont_opsz-wght.ttf") format("truetype-variations");
  font-weight: 300 700; /*range of weights*/
  font-style: normal;
  font-display: swap; /*ensure text shows up even if font has not loaded*/
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz-wdth-wght.ttf") format("truetype-variations");
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}

/*Colors*/
:root {
    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-0: hsl(0, 0%, 100%);

    --color-orange-500: hsl(28, 100%, 52%);

    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);
}