@import "../utils/variables.css";

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
