@import "../utils/variables.css";

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Standardize our font size for REM */
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-neutral-900);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 375px;
  margin: 0 auto;
  padding: 0;
  gap: 1.5rem;
}

/* Aria hiding */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* Grid layout*/
.weather__container {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
  max-width: 100%;
  padding: 2rem;
  max-width: 1440px;
  min-width: 375px;
}

.weather__headerbar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather__lookup {
  grid-column: 1 / -1;
}

.weather__resultscontainer {
  display: grid;
  grid-template-columns: 1fr;
  

}

.weather__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/bg-today-small.svg);
  margin-top: 2rem;
  border-radius: 1rem;
  gap: 5rem;
  width: 100%;
  
}

.weather__specificscontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 375px;
  width: 100%;
}

.weather__specificscontainer > div {
  
}

.weather__dailycontainer,
.weather__hourlycontainer {
  grid-column: 1 / -1;
  grid-row: auto;
  position: relative;
  display: flex;
  width: 100%;
}


/*Flex behaviors/layout */

.weather__logo > img {
  width: 70%;
}

.weather__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: var(--color-neutral-0);
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 2.7rem;
}

.weather__units {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/*Positioning and Styling for top section */

.weather__input {
  position: relative;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: var(--color-neutral-800);
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.input__prefix {
display: flex;
align-items: center;
padding: 1rem;

}

.input__prefix > img {
  width: 90%;
}

.weather__input-control {
  border: none;
  width: 100%;
  background-color: transparent;
  outline: none;
  font-family: "DM Sans", sans-serif;
  color: var(--color-neutral-0); 
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
}

.weather__input-control::placeholder {
  color: var(--color-neutral-0);
  opacity: 1; 
}

.weather__submitbutton {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1.2rem;
  color: var(--color-neutral-200);
  background-color: var(--color-blue-500);
  font-family: "DM Sans", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 1.6rem;
  /* letter-spacing: 0.8px; */
  color: var(--color-neutral-0);
}


/* Might not need these
.weather__feelslike {
  background-color: var(--color-neutral-800);
 
}

.weather__humidity {
  background-color: var(--color-neutral-800);

}

.weather__wind {
  background-color: var(--color-neutral-800);

}

.weather__precipitation {
  background-color: var(--color-neutral-800);

} */

.weather__dailycontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
   width: 100%;
}

.weather__hourlycontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
   width: 100%;
}
/*Media queries for desktop will go down here 
unless I need to use 2 css files */
@media (min-width: 1440px) {
  /*bigger screen adjustments here */
}

