@import "../utils/variables.css";

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Standardize our font size for REM */
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(5, 5, 41);
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 1.5rem;
}

/* Aria hiding */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* Grid layout*/
.weather__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 8px;
  max-width: 100%;
  padding: 2rem;
  max-width: 1440px;
  min-width: 375px;
}

.weather__headerbar {
  grid-column: span 5 / span 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather__lookup {
  grid-column: span 5 / span 5;
  grid-row-start: 2;
}

.weather__resultscontainer {
  grid-column: span 5 / span 5;
  grid-row-start: 3;
}

.weather__hourlyforecast {
  grid-column: span 5 / span 5;
  grid-row: span 4 / span 4;
  grid-row-start: 4;
}

.weather__day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Flex behaviors/layout */

.weather__logo > img {
  width: 70%;
}

.weather__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--color-neutral-0);
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 2rem;
}

.weather__units {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.weather__form {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
}




/*Media queries for desktop will go down here 
unless I need to use 2 css files */
@media (min-width: 1440px) {
  /*bigger screen adjustments here */
}

